body {font-family:Georgia, 'Times New Roman', Times, serif;
background-color:#f3f3f1
}
h2 {border:1px solid black;
}
blockquote {font-size:14px;
font-style:italic
}
footer {font-size:14px
}
table, th, tr, td {border:1px solid gray;
    font-size: 14px;
text-align:center

.album {font-style:italic
}